<p id="notice"><%= notice %></p>
<div class = titulo>
	<h1><strong><center><%= @caderno.titulo %></center></strong></h1>
</div>
<div class = conteudo>
	<%= @caderno.conteudo.html_safe %>
</div>
<div class = menuInferior>
<center><ul>
  <li>
	<%= link_to 'Editar', edit_caderno_path(@caderno) %>
	</li>
	<li>
	<%= link_to 'Voltar', cadernos_path %>
	</li>
</ul></center>
</div>