<!DOCTYPE html>
<html>

  <head>
	  <style>
		html, body {
		    margin: 0;
		    padding: 0;
		}
	  	.titulo{
	  		background: #A0A0A0;
	  		margin: auto;
			width: 100%;
			border: 1px solid gray;
			padding: 0px;
			color: #fff;
	  	}
		.conteudo {
			margin : auto;
			width: 100%;
			border: 1px solid gray;
			padding: -10px;
			background: #f0f0f0;
			color: black;
		}
		.menuInferior {
			background: #A0A0A0;
	  		margin: auto;
			width: 100%;
			border: 1px solid gray;
			padding: 0px;
			color: #fff;
		}
		.menuInferior ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		    overflow: hidden;
		    background-color: #333;
		}
		.menuInferior li {
		    float: right;
		}
		.menuInferior li a {
		    display: block;
		    color: white;
		    text-align: center;
		    padding: 14px 16px;
		    text-decoration: none;
		}

	</style>
    <title>CodeBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
